* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 200px;
  padding-top: 16px;
  justify-content: space-between;
}
.container {
  position: absolute;
  top: 200px;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.traffic-light-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.traffic-light-horizontal {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(-90deg);
}
